<!DOCTYPE html>
<html>
<head>
  <title>Tumaini</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section><%= link_to "Logout", logout_path if current_user %></section>
  <% flash.each do |key, message| %>
    <%= content_tag :p, message, :class => "flash #{key}" %>
  <% end %>
  <%= yield %>
</body>
</html>
